*{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.item{
  width: 100px;
  height: 100px;
  background: #333;
  color: beige;
  margin: 10px;
}

.flex-container{
  display: flex;
  background: #f4f;
  justify-content:space-between;
  height: 400px;
  align-items: center;
  flex-wrap: wrap;
}

.item:nth-of-type(1){
  /* align-self: start; */
  order: 2;
  flex-basis: 200px;
}
.item:nth-of-type(2){
  /* align-self: center; */
  order: 7;
}
.item:nth-of-type(3){
  /* align-self: end; */
  order: 1;
}
.item:nth-of-type(5){
  /* align-self: end; */
  flex-grow: 2;
}
.item:nth-of-type(8){
  /* align-self: end; */
  flex-grow: 1;
}
